* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "bile";
  src: url(/fonts/Bile.otf);
}

@font-face {
  font-family: "strong stance";
  src: url(/fonts/Strong\ Stance.otf) format("opentype");
}

@font-face {
  font-family: "strong stance italic";
  src: url(/fonts/Strong\ Stance\ Italic.otf) format("opentype");
}

@font-face {
  font-family: "gladiora exl";
  src: url(/fonts/Gladiora\ ExtraLight.otf) format("opentype");
}

@font-face {
  font-family: "gladiora reg";
  src: url(/fonts/Gladiora\ Regular.otf) format("opentype");
}

@font-face {
  font-family: "gladiora light";
  src: url(/fonts/Gladiora\ Thin.otf) format("opentype");
}

@font-face {
  font-family: "gladiora thinit";
  src: url(/fonts/Gladiora\ ThinItalic.otf) format("opentype");
}

h1 {
  font-family: "gladiora reg";
  font-size: 3rem;
}

h2 {
  font-family: "gladiora reg";
  font-size: 2.6rem;
}

h3 {
  font-family: "gladiora light";
  font-size: 2.4rem;
}

h4 {
  font-family: "gladiora thinit";
  font-size: 1.8rem;
}

h5 {
  font-family: "gladiora thinit";
  font-size: 1.4rem;
}

p {
  font-family: "gladiora exl";
  font-size: 1.2rem;
  letter-spacing: 2px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #1a263f;
  color: rgb(204, 226, 240);
}

.background_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("/imgs/Gradient.png");
  background-size: cover;
  background-attachment: fixed;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

.email_number,
.footer_navbar {
  grid-column: 1 / span 3;
  text-align: center;
}

.email_number {
  font-weight: 600;
  color: #2a3469;
}

.footer_navbar {
  margin-top: 10px;
}

.footer_navbar a {
  font-weight: 600;
  color: #b9bcd8;
  font-weight: 400;
  text-decoration: none;
}

.footer_navbar a:hover {
  color: #7d809e;
  font-weight: 600;
}

.printpdf {
  grid-column: 3;
  text-align: right;
}

.printpdf button {
  background-color: #292f5f;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  color: rgb(128, 128, 170);
  margin: 20px;
}

.printpdf button:hover {
  background-color: rgb(159, 216, 216);
}

@media screen and (max-width: 768px) {
}
